/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/adminer/adminer\.php

public/adminer/login-otp\.php

public/adminer/plugin\.php

public/adminer/struct-comments\.php

_temp/

app/Console/Commands/master/laravel-boilerplate-master/

app/Console/Commands/master\.zip
storage/framework/cache/data/
*.directory
public/vendor/summernote

config/tables\.php
.env