$black       : #000000;
$white       : #ffffff;
$silver      : #bfbfbf;
$grayTit     : #1f1f1f;
$graytxt     : #6f6f6f;
$gold        : #b58241;
$goldhover   : #996f38;
$blue        : #00beff;
$darkblue    : #00141d;
$red         : #c81c28;

$regular     : 'CorporateA-Regular';
$bold        : 'CorporateA-Bold';
$menu        : 'CorporateACon-Reg';
$form        : 'CorporateS';

$easelow     : all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
$ease        : all 0.3s ease-out;
$easeexpo    : all 600ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
